.plans{
    padding: 5.6vw;

    h2{
        text-align: center;
    }
    &__list{
        list-style: none;
        display: flex;
        justify-content: space-around;
        margin-top: 42px;

        @media screen and (max-width: 767px){
            flex-direction: column;
            align-items: center;
            text-align: center;
            
        }

        &__item{
            text-align: center;
            padding: 60px 44px 44px;
            max-width: 380px;
            max-width: 100%;
            margin: 0 30px;

            @media screen and (max-width: 767px) {
                align-items: center;
                justify-content: center;
            }
            
            img{
                height: 83px;
                
            }
            strong{
                display: block;
                margin-top: 24px;
            }
            &:nth-child(2){
                background-image: url(../images/fundo_combo_plus.png);
                background-repeat: no-repeat;
                background-size: contain;
            }
    
        }
    }

    p{
        text-align: center;
        margin-top: 42px;
    }
}